
.square {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: black;
  background: url("https://img.freepik.com/vector-gratis/paisaje-forestal-pino_18591-51152.jpg?size=338&ext=jpg");
  background-size : cover ;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 618px;
  height: 618px;
}

.mole {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYXGoNUNXWmnNA-ayfycOjUvv0jXPUUeS_jA&usqp=CAU');
  background-size: cover;
   
}
.mole:hover {
  cursor: url("thorhammer_thor_3370(1).ico"), auto;
}
